.container__subArticles {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;

  .main__subArticle {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.15);
    width: 370px;
    max-height: 550px;
    margin-right: 30px;
    margin-bottom: 30px;

    &__content {
      border-bottom: solid 1px #eeeeee;
      max-width: 380px;
      min-height: 465px;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    .main__article__text {
      margin-left: 31px;
    }
    &__footer {
      padding: 20px 0;
    }
  }

  .main__subArticle__img {
    margin: 30px;
    width: 310px;
  }

  .btn--roundmoving {
    width: 92px;
  }

  .btn--long {
    width: 142px;
  }

  h4,
  p {
    font-family: "Georgia", sans-serif;
    font-size: 26px;
    color: #424242;
  }

  h4 {
    max-width: 308px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    font-weight: 100;
    font-family: $fontRV;
  }

  .subArticle__textchange {
    font-family: $fontRV;
    font-weight: 700;
  }

  .main__svg__mymove {
    display: inline-block;
    width: 8%;
    margin-top: 10px;
    margin-left: 31px;
  }

  .Bold {
    font-weight: 700;
    display: block;
  }

  .main__article__p {
    font-family: "Georgia", sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 19px;
    margin-right: 15px;
    min-width: 318px;
  }

  .main__small__text {
    font-family: $fontRV;
    font-size: 12px;
    position: relative;
    bottom: 30px;
    letter-spacing: 1px;
    margin-left: 70px;
    margin-top: -2px;
  }

  .text--none {
    margin-bottom: 60px;
  }
}
