shtml,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========================== Site Styles =================== */
@font-face {
  font-family: RVMontserrat;
  src: url("../fonts/rv-montserrat-light.45eb747.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: RVMontserrat;
  src: url("../fonts/rv-montserrat-regular.f4b3be3.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: RVMontserrat;
  src: url("../fonts/rv-montserrat-semibold.5a6c07e.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: RVMontserrat;
  src: url("../fonts/rv-montserrat-bold.1cb541f.ttf") format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

/* ========================== Multiple element styles =================== */
.related {
  margin-left: 70px;
  margin-top: -2px;
}

.index__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn--roundmoving {
  border: 1px solid #3949ab;
  display: inline-block;
  border-radius: 20px;
  color: #3949ab;
  padding: 5px 0px;
  background-color: white;
  text-align: center;
  font-family: "RVMontserrat", sans-serif;
  margin-bottom: 15px;
  font-size: 12px;
}

.btn--blue {
  margin-top: -15px;
  margin-left: 78px;
  font-size: 13px;
  padding: 10px 35px;
  border-radius: 2px;
  border: none;
  background-color: #536dfe;
  color: white;
  font-weight: 400;
}

.main__small__text__top {
  margin-bottom: 5px;
}

.Bold {
  font-weight: 700;
  display: block;
}

/* ========================== Hero =================== */
.hero--image {
  background-image: url(../img/herobackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(40, 53, 147, 0.9);
}
.hero--image .hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero--image .hero .logo {
  position: absolute;
  left: 2%;
  margin: 1.7rem 0 0 0.7rem;
}
.hero--image .hero nav {
  width: 1170px;
}
.hero--image .hero .header__nav {
  display: flex;
  width: 1170px;
  justify-content: flex-end;
  margin-top: 1.2rem;
  margin-left: 100px;
}
.hero--image .hero .header__nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero--image .hero .header__nav .header__nav__text {
  margin: 1.5rem 1.2rem 0;
  display: inline;
  font-size: 12px;
  color: white;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 300;
}
.hero--image .hero .header__nav .hamburger--oval {
  width: 75%;
  margin-top: 9px;
}
.hero--image .hero .hero__title {
  margin: 3rem 0 6rem 0;
  display: block;
  width: 100%;
  text-align: center;
}
.hero--image .hero .hero__title h1,
.hero--image .hero .hero__title h2,
.hero--image .hero .hero__title p {
  margin-bottom: 1rem;
}
.hero--image .hero .hero__title h1 {
  font-size: 0.9rem;
  font-size: 18px;
  color: #fdd835;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
.hero--image .hero .hero__title h2 {
  font-size: 3rem;
  color: white;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 700;
}
.hero--image .hero .hero__title p {
  margin-top: 2.2rem;
  font-size: 16px;
  color: white;
  font-family: "Georgia", sans-serif;
  font-weight: 100;
  opacity: 0.7;
}

/* ========================== Main nav on top =================== */
.main__nav {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 40px;
}
.main__nav li {
  margin: 1rem 1.6rem;
  display: inline;
  font-size: 13px;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 300;
}
.main__nav .nav--textchange {
  font-weight: bold;
  color: #303f9f;
  line-height: 20px;
  border-bottom: solid 2px darkblue;
  padding: 0 5px 5px 5px;
}

/* ========================== Main top article =================== */
.main__article {
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.15);
  width: 1170px;
  display: flex;
  padding: 30px;
  margin-bottom: 30px;
}
.main__article__content {
  border-bottom: solid 1px #eeeeee;
  min-height: 348px;
  margin-bottom: 20px;
  padding-top: 30px;
}
.main__article__footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main__article .btn--roundmoving {
  width: 92px;
}
.main__article .main__img--size {
  margin-right: 50px;
  display: inline-block;
  height: 100%;
}
.main__article .main__article__text {
  display: flex;
  flex-direction: column;
}
.main__article .main__article__text h3 {
  font-family: "RVMontserrat", sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 25px;
  color: #424242;
  margin-right: 15px;
  width: 536px;
}
.main__article .main__article__text .main__article__p {
  font-family: "Georgia", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 30px;
  margin-right: 15px;
  width: 608px;
}
.main__article .main__article__text hr {
  margin-left: -10px;
  border-radius: 20px;
  opacity: 0.2;
  width: 650px;
}
.main__article .main__svg__mymove {
  display: inline-block;
  width: 5%;
  margin-right: 15px;
}
.main__article .main__article__footer__nonbold {
  font-weight: 300;
}
.main__article p {
  font-family: "RVMontserrat", sans-serif;
  font-size: 12px;
  color: #424242;
}
.main__article .main__small__text {
  letter-spacing: 1px;
}

/* ========================== Sub article grid =================== */
.container__subArticles {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
}
.container__subArticles .main__subArticle {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.15);
  width: 370px;
  max-height: 550px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.container__subArticles .main__subArticle__content {
  border-bottom: solid 1px #eeeeee;
  max-width: 380px;
  min-height: 465px;
}
.container__subArticles .main__subArticle:nth-child(3n + 3) {
  margin-right: 0;
}
.container__subArticles .main__subArticle .main__article__text {
  margin-left: 31px;
}
.container__subArticles .main__subArticle__footer {
  padding: 20px 0;
}
.container__subArticles .main__subArticle__img {
  margin: 30px;
  width: 310px;
}
.container__subArticles .btn--roundmoving {
  width: 92px;
}
.container__subArticles .btn--long {
  width: 142px;
}
.container__subArticles h4,
.container__subArticles p {
  font-family: "Georgia", sans-serif;
  font-size: 26px;
  color: #424242;
}
.container__subArticles h4 {
  max-width: 308px;
  line-height: 34px;
  margin-bottom: 10px;
}
.container__subArticles p {
  font-size: 12px;
  font-weight: 100;
  font-family: "RVMontserrat", sans-serif;
}
.container__subArticles .subArticle__textchange {
  font-family: "RVMontserrat", sans-serif;
  font-weight: 700;
}
.container__subArticles .main__svg__mymove {
  display: inline-block;
  width: 8%;
  margin-top: 10px;
  margin-left: 31px;
}
.container__subArticles .Bold {
  font-weight: 700;
  display: block;
}
.container__subArticles .main__article__p {
  font-family: "Georgia", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  margin-right: 15px;
  min-width: 318px;
}
.container__subArticles .main__small__text {
  font-family: "RVMontserrat", sans-serif;
  font-size: 12px;
  position: relative;
  bottom: 30px;
  letter-spacing: 1px;
  margin-left: 70px;
  margin-top: -2px;
}
.container__subArticles .text--none {
  margin-bottom: 60px;
}

/* ========================== Line and blue article button =================== */
.line--break {
  display: block;
  z-index: 2;
  position: absolute;
  height: 10px;
  width: 400px;
  background-color: white;
  left: 36%;
  top: 285%;
}

.main--line {
  color: #cccccc;
  margin-top: -120px;
  position: relative;
  opacity: 0.4;
  width: 1170px;
}

.articles {
  z-index: 3;
  display: block;
  font-size: 14px;
  padding: 15px 40px;
  font-weight: 700;
  width: 249px;
  height: 48px;
  margin: 76px 30px 94px;
}

/* ========================== Footer =================== */
.footer {
  background-color: #3949ab;
  padding: 75px 142px 25px 144px;
  margin-top: 94px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__main-nav li {
  font-size: 16px;
  font-weight: 300;
  font-family: "RVMontserrat", sans-serif;
  color: white;
  line-height: 33px;
}
.footer__social-nav {
  display: flex;
  align-items: center;
}
.footer__social-nav li {
  margin-bottom: 23px;
}
.footer__social-nav li a {
  display: inline-block;
  height: 100%;
}
.footer__social-nav li:last-child {
  margin-bottom: 0;
}
.footer__mm-logo {
  width: 65px;
  height: 64px;
  margin-right: 45px;
}
.footer__bottom {
  display: flex;
  justify-content: center;
}
.footer__bottom ul {
  display: flex;
}
.footer__bottom li {
  position: relative;
  margin-right: 40px;
  color: white;
  font-size: 14px;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 300;
}
.footer__bottom li::after {
  content: "";
  position: absolute;
  right: -20px;
  width: 1px;
  height: 16px;
  background-color: white;
}
.footer__bottom li:last-child {
  margin-right: 0;
}
.footer__bottom li:last-child::after {
  display: none;
}

/* ========================== Article Page =============================================================================================== */
.article__main__container {
  display: flex;
  min-width: 968px;
  flex-wrap: wrap;
  justify-content: center;
}

/* ========================== Author under heading =================== */
.main__subArticle__footer .main__article__p {
  font-family: "Georgia", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  margin-right: 15px;
  min-width: 318px;
}
.main__subArticle__footer .main__small__text {
  font-weight: 100;
  font-family: "RVMontserrat", sans-serif;
  font-size: 12px;
  position: relative;
  bottom: 30px;
  letter-spacing: 1px;
  margin-left: 50px;
  margin-top: -5px;
}
.main__subArticle__footer .related {
  margin-left: 70px;
  margin-top: -2px;
}

.article__imgOne {
  margin-bottom: 50px;
}

/* ========================== Title =================== */
/* ========================== Breadcrumb nav =================== */
.nav__breadcrumb {
  height: 24px;
  width: 1170px;
  margin-top: 50px;
}
.nav__breadcrumb__trail {
  display: flex;
  line-height: 24px;
  justify-content: center;
  margin-right: 100px;
}
.nav__breadcrumb__trail li {
  letter-spacing: 1px;
  font-family: "RVMontserrat", sans-serif;
  font-size: 12px;
  margin-left: 10px;
}
.nav__breadcrumb__trail li:first-child {
  margin-left: 0;
}
.nav__breadcrumb__trail li a {
  text-decoration: none;
}

.article__maintitle {
  font-size: 42px;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 700;
  color: #424242;
  max-width: 767px;
  margin-bottom: 20px;
  line-height: 48px;
}

.article__mainheading {
  margin-left: 20px;
  margin-top: 20px;
}

.article__titles__secondpage {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
  color: #424242;
}

/* ========================== Nav =================== */
.header__nav {
  display: flex;
  width: 1170px;
  justify-content: flex-end;
  margin-left: 100px;
}
.header__nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header__nav .header__nav__text {
  margin: 1.5rem 1.2rem 0;
  display: inline;
  font-size: 12px;
  color: white;
  font-family: "RVMontserrat", sans-serif;
  font-weight: 300;
}
.header__nav .hamburger--oval {
  width: 75%;
  margin-top: -15px;
}

.article__top__header {
  background: linear-gradient(135deg, rgba(63, 81, 181, 0.9), rgba(40, 53, 147, 0.9));
  min-width: 1440px;
  min-height: 90px;
}
.article__top__header .article__top__nav {
  display: flex;
}
.article__top__header .article__top__nav .header__nav {
  margin-top: 28px;
}
.article__top__header .article__top__nav .header__nav li {
  margin-top: 8px;
}
.article__top__header .article__top__nav .logo {
  margin-top: 25px;
  margin-left: 38px;
}

/* ========================== Table of contents =================== */
.article__tableofcontents {
  border-bottom: solid 1px #979797;
  padding-bottom: 50px;
}
.article__tableofcontents table {
  font-family: "RVMontserrat", sans-serif;
  font-weight: 100;
  color: #3949ab;
  min-width: 968px;
}
.article__tableofcontents table td {
  padding: 10px 10px 10px 0;
}

.article__section {
  width: 670px;
  min-height: 161px;
  margin-top: 40px;
}
.article__section p {
  font-family: "Georgia", sans-serif;
  font-size: 21px;
  font-weight: lighter;
  line-height: 33px;
}

/* ========================== Data table  =================== */
.article__datatable {
  min-width: 670px;
  margin-bottom: 50px;
  font-family: "RVMontserrat", sans-serif;
}
.article__datatable td {
  font-size: 16px;
  border: solid 1px #cccccc;
  padding: 15px 30px;
  font-weight: 100;
}
.article__datatable .datatable--paddingfix {
  text-align: center;
}
.article__datatable .datatable__headers {
  background-color: #f5f5f5;
  border: solid 1px #bdbdbd;
  height: 56px;
}
.article__datatable .datatable__headers th {
  padding: 26px;
  font-weight: 700;
}

/* ========================== Main text of article =================== */
.article__maintext .article__titles__secondpage {
  margin-bottom: 5px;
}
.article__maintext h3 {
  font-family: "Tahoma", sans-serif;
  font-size: 21px;
  margin-bottom: 20px;
}
.article__maintext p {
  font-family: "Georgia", sans-serif;
  font-size: 21px;
  line-height: 33px;
}
.article__maintext figure img {
  margin-top: 60px;
}
.article__maintext figcaption {
  text-align: center;
  font-family: "Tahoma", sans-serif;
  font-size: 12px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 60px;
}

/* ========================== Quote on page and last few elements styling =================== */
.article__quote {
  font-size: 28px;
  color: #757575;
  margin: 40px 0;
  font-style: italic;
  line-height: 40px;
}

.article__lasttexts {
  margin-bottom: 30px;
}

.article__bulletpoints {
  list-style-type: disc;
  line-height: 40px;
  font-family: "Georgia", sans-serif;
  font-size: 21px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.article__authorinfo {
  border-top: solid 1px #eeeeee;
  margin-bottom: 60px;
  padding-top: 33px;
  color: #424242;
  font-size: 18px;
  font-style: italic;
}

.subArticle__relatedtext {
  min-width: 1170px;
}

/*# sourceMappingURL=output.css.map */
